{% extends 'base_generic.html' %}

{% block title %}{{ newspaper.title }}{% endblock %}

{% block content %}
<h2 class="mt-4">{{ newspaper.title }}</h2>
<p><strong>Тема:</strong> {{ newspaper.topic.name }}</p>
<p><strong>Дата публікації:</strong> {{ newspaper.published_date }}</p>
<p>{{ newspaper.content }}</p>

<h4>Редактори:</h4>
<ul>
    {% for redactor in newspaper.publishers.all %}
        <li>{{ redactor.username }}</li>
    {% empty %}
        <li>Немає редакторів.</li>
    {% endfor %}
</ul>

<a href="{% url 'newspaper-list' %}" class="btn btn-primary mt-3">Назад до списку</a>
{% endblock %}
